@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h6>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h6>
<h3>@Html.DisplayNameFor(model => model.InstallationDate): @Html.DisplayFor(model => model.InstallationDate)</h3>
<h3>@Html.Label("Current Inspection Date"): @Html.DisplayFor(model => model.InspectionDate)</h3>
@if(@Model.Operational == false)
{
}
else
{
<h3>@Html.DisplayNameFor(model => model.Operational): @Html.DisplayFor(model => model.Operational)</h3>
}
@if(@Model.Malfunctioning == false)
{
}
else
{
<h3>@Html.DisplayNameFor(model => model.Malfunctioning): @Html.DisplayFor(model => model.Malfunctioning)</h3>
}
@if(@Model.UnderRepair == false)
{
}
else
{
<h3>@Html.DisplayNameFor(model => model.UnderRepair): @Html.DisplayFor(model => model.UnderRepair)</h3>
}

@if(@Model.JoinEntitiesEngineer.Count == 0)
{
  <p>No engineers are licensed to repair this machine</p>
}
else
{
  <h4>Engineers licensed to repair this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinEntitiesEngineer)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("License an engineer to work on this machine", "AddEngineer", new { id = Model.MachineId })</p>

<p>@Html.ActionLink("Edit this machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete this machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("View all machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>