@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Edit Machine</h1>

<h3>Edit this machine: @Html.DisplayFor(model => model.Name)</h3>

<ul>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <li>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)</li>

  <li>@Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)</li>

  <li>@Html.LabelFor(model => model.InstallationDate)
  @Html.EditorFor(model => model.InstallationDate)</li>

  <li>@Html.Label("Current Inspection Date")
  @Html.EditorFor(model => model.InspectionDate)</li>

  <li>@Html.LabelFor(model => model.Operational)
  @Html.CheckBoxFor(model => model.Operational)</li>

  <li>@Html.LabelFor(model => model.Malfunctioning)
  @Html.CheckBoxFor(model => model.Malfunctioning)</li>

  <li>@Html.LabelFor(model => model.UnderRepair)
  @Html.CheckBoxFor(model => model.UnderRepair)</li>

  <input type="submit" value="Save" class="btn btn-dark"/>
}
</ul>

<p>@Html.ActionLink("View all machines", "Index")</p>